body{
    background-image:url(skelatal_weave.png);
}
.dropbtn {
  background-color: darkgreen;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: garamond;
  margin-top:30px;
  margin-left: 20px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: darkseagreen;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: 20px;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: aliceblue}

.show {display:block;}

.splash {
    text-align:center;
    font-family: garamond;
    font-size: 40px;
}

.selection {
    display:inline-block;
    align-content: center;
}

.selection img{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
  align-content: center;
}

.selection .desc{
 text-align: center;
 font-family: garamond;
    font-size: 18px;
}

#democrat img{
    border-color: cadetblue;
}

#democrat img:hover{
    background-color:inherit;
}
#republican img{
    border-color: indianred;
}

#democrat {
    margin-left: 210px;
}

#undecided {
    margin: 50px;
}

#republican{
    margin-right: 140px;
}

#close-CSS {
    background-image: url( 'next_button.png' );
    background-size: 80px;
    height: 85px;  
    width: 85px;
    float: right;
    margin-right: 60px;
}

button:disabled {
    background-color: azure;
    color: black;
}
